:root {
    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-blue: hsl(217, 54%, 11%); //(main BG)
    --clr-dblue : hsl(216, 50%, 16%); //(card BG)
    --clr-bblue : hsl(214, 60%, 10%); 
    --clr-vdblue : hsl(215, 32%, 27%); //(line)
    --clr-White: hsl(0, 0%, 100%);
    --mainfont:'Outfit', sans-serif;
    --weight-small: 300;
    --weight-norm: 400;
    --weight-bold: 600;
}

